.todo-list-wrap {
  .js-toDoList {
    padding: 0;
    height: 0;
    text-align: left;
    box-sizing: border-box;
  }

  &.active {
    .js-toDoList {
      padding: 15px 15px 20px;
      height: auto;
      
      h2 {
        margin: 0;
        padding: 10px;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
      }

      ul {
        margin: 0;
        padding: 0;
        max-height: 200px;
        overflow: auto;
        list-style: none;

        &::-webkit-scrollbar {
          width: 6px;
          margin-right: 4px;
        }
        &::-webkit-scrollbar-thumb {
          height: 30%;
          background: rgba(255, 255, 255, .35);
          border-radius: 10px;
        }

        .todo-item {
          display: flex;
          align-items: center;
          position: relative;
          border-bottom: 1px solid rgba(255,255,255,.3);

          span {
            flex: 1;
            padding: 6px 10px;
            text-align: left;
          }

          .btn-remove {
            display: block;
            width: 80px;
            height: 30px;
            text-indent: -9999px;
            background: transparent url('../../images/icon/delete.svg') 95% 50% no-repeat;
            background-size: auto 50%;
            border: none;
            outline: none;
            opacity: .5;
            cursor: pointer;
            transition: all .5s ease-in-out;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}