.todo-wrap {
  position: relative;
  margin-top: 16px;
  padding: 0 45px;
  text-align: right;

  .todo-panel {
    position:relative;
    width: 100%;
    vertical-align: bottom;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;

    .todo-list-wrap {
      background: rgba(0, 0, 0, .8);
    }
    .todo-input-wrap {
      height: 0;
      background: rgba(0, 0, 0, .8);
      opacity: 0;
      transition: all .5s ease-in-out;

      h2 {
        display: block;
        margin: 5px 10px 15px;
        font-size: 18px;
        font-weight: normal;
        color: rgba(255, 255, 255, .7);
        text-align: center;
      }

      .js-todo-form {
        input[type=text] {
          margin-bottom: 10px;
          padding: 5px;
          font-size: 16px;
          line-height: 30px;
          width: 100%;
          color: #fff;
          background: #000;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, .4);
          border-radius: 0;
          outline: none;
          box-sizing: border-box;

          &:focus {
            border-bottom: 1px solid rgba(255, 255, 255, .8);
          }
        }
      }
    }

    &.active {
      .todo-input-wrap {
        display: block;
        margin-top: -10px;
        padding: 0 15px 15px;
        height: auto;
      }
    }
    &.fade-in {
      .todo-input-wrap {
        opacity: 1;
      }
    }
  }
  
  .btn-todo {
    position: relative;
    display: inline-block;
    height: 40px;
    margin: 0 -10px 0 0;
    padding: 0 10px;
    font-size: 20px;
    color: #fff;
    border: none;
    background: transparent;
    outline: none;
    opacity: .7;
    cursor: pointer;
    transition: opacity .5s ease-in, filter .5s ease-in;

    &:hover {
        opacity: 1;
    }
  }
}