.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

.region {
  position: absolute;
  box-sizing: border-box;

  &.flex {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;

    .flex-item {
      height: 50%;
      text-align: center;

      &.half-top {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }
  }

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.mg-b0 {
  margin-bottom: 0 !important;
}